## ШПАРГАЛКА

In [1]:
import pandas as pd

In [2]:
def getBasicLessonsData() :

    data = pd.read_excel('data/data.xlsx')

    basicColumns = data.columns.tolist()[1::8]

    data.columns =  [data.columns.tolist()[0]] + list(zip([col for col in basicColumns for _ in range(8)], data.iloc[0, 1:]))

    data.drop(0, inplace=True)

    data.set_index('Класс', inplace=True)

    return data

In [3]:
data = getBasicLessonsData()

data.head()

,"(Понедельник, 1)","(Понедельник, 2)","(Понедельник, 3)","(Понедельник, 4)","(Понедельник, 5)","(Понедельник, 6)","(Понедельник, 7)","(Понедельник, 8)","(Вторник, 1)","(Вторник, 2)",...,"(Четверг, 7)","(Четверг, 8.0)","(Пятница, 1)","(Пятница, 2)","(Пятница, 3)","(Пятница, 4)","(Пятница, 5)","(Пятница, 6)","(Пятница, 7)","(Пятница, 8.0)"
Класс,,,,,,,,,,,,,,,,,,,,,
5а,ВД\n38,мат\n38,муз\n3,геог\n29,анг\n30,рус\n48,NaN,NaN,ист\n3,рус\n48,...,NaN,NaN,труд\n49,рус\n48,мат\n38,чт гр\n56,лит\n48,ф-р а\nмсз,NaN,NaN
5б,ВД\n48,рус\n48,мат\n21,ист\n3,лит\n48,муз\n3,анг\n54,NaN,рус\n48,мат\n21,...,NaN,NaN,чт гр\n56,ф-р а\nбсз,рус\n48,труд\n49,анг\n47,мат\n21,NaN,NaN
5в,ВД\n45,мат\n47,рус\n41,ист\n45,муз\n3,геог\n29,NaN,NaN,рус\n41,мат\n34,...,NaN,NaN,био\n47,мат\n54,изо\n26,анг\n48,рус\n41,лит\n41,NaN,NaN
6а,ВД\n49,мат\n21,геог\n29,рус\n56,лит\n56,труд\n49,однк нр\n3,NaN,рус\n56,анг\n30,...,NaN,NaN,мат\n21,рус\n56,общ\n46,ф-р а\nбсз,рус\n56,анг\n30,NaN,NaN
6в,ВД\n21,однк нр\n3,труд\n49,ист\n46,рус\n42,мат\n21,лит\n42,NaN,мат\n21,рус\n42,...,NaN,NaN,рус\n42,анг\n50,мат\n21,изо\n26,лит\n42,ф-р а\nбсз,NaN,NaN

In [25]:
import numpy as np

list(map(lambda x : sorted(list(set(x)), key=lambda x : int(x) if x.isdigit() else x), np.array(list(map(lambda x : [x[:-1], x[-1]], data.index.tolist()))).T.tolist()))

[['5', '6', '7', '8', '9', '10', '11'], ['а', 'б', 'в', 'г']]

In [21]:
a = np.array(list(map(lambda x : [x[:-1], x[-1]], data.index.tolist()))).T

a[0] = a[0].astype(int)

print(a)

list(map(lambda x : sorted(list(set(x))), a.tolist())) #ДЖАВИД ЛЕНТЯЙ

[['5' '5' '5' '6' '6' '6' '7' '7' '7' '8' '8' '9' '9' '9' '9' '10' '10'
  '11' '11' '11']
 ['а' 'б' 'в' 'а' 'в' 'г' 'а' 'б' 'в' 'а' 'б' 'а' 'б' 'в' 'г' 'а' 'б' 'а'
  'б' 'в']]

[['10', '11', '5', '6', '7', '8', '9'], ['а', 'б', 'в', 'г']]

#### ДЛЯ ПОЛУЧЕНИЯ НУЖНОГО ПРЕДМЕТА ПО КЛАССУ, ДНЮ НЕДЕЛИ И НОМЕРУ УРОКА СЛЕДУЕТ ПРИМЕНЯТЬ СЛЕДУЮЩУЮ КОНСТРУКЦИЮ : data.loc[CLASS, [(WEEKDAY, NUMBER)]]

In [31]:
data.loc['5а', [('Понедельник', 1)]] # ПРИМЕР

(Понедельник, 1)    ВД\n38
Name: 5а, dtype: object

#### ДЛЯ ПОЛУЧЕНИЯ НУЖНОГО ПРЕДМЕТА ПО КЛАССУ, ДНЮ НЕДЕЛИ И НОМЕРУ УРОКА СЛЕДУЕТ ПРИМЕНЯТЬ СЛЕДУЮЩУЮ КОНСТРУКЦИЮ : data.loc[CLASS, [(WEEKDAY, n) for n in range(1, 9)]].dropna().to_dict()

In [35]:
data.loc['5а', [('Понедельник', n) for n in range(1, 9)]].dropna().to_dict()

{('Понедельник', 1): 'ВД\n38',
 ('Понедельник', 2): 'мат\n38',
 ('Понедельник', 3): 'муз\n3',
 ('Понедельник', 4): 'геог\n29',
 ('Понедельник', 5): 'анг\n30',
 ('Понедельник', 6): 'рус\n48'}

In [55]:
ref = data.loc['5а', [('Понедельник', n) for n in range(1, 9)]].dropna().str.split('\n').apply(pd.Series)

ref

                     0   1
(Понедельник, 1)    ВД  38
(Понедельник, 2)   мат  38
(Понедельник, 3)   муз   3
(Понедельник, 4)  геог  29
(Понедельник, 5)   анг  30
(Понедельник, 6)   рус  48

In [62]:
ref.rename(columns={0 : 'Предмет', 1 : 'Кабинет'}).values

array([['ВД', '38'],
       ['мат', '38'],
       ['муз', '3'],
       ['геог', '29'],
       ['анг', '30'],
       ['рус', '48']], dtype=object)